<div class="navbar navbar-default" ng-controller="NavbarCtrl">
    <div class="navbar-header"><a class="navbar-brand" href="#" name="top">LogisticsAdmin</a>
    </div>
    <div class="nav navbar-nav">
        <ul class="nav navbar-nav">
            <!--li ng-repeat="item in menu" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                <a href="/{{item.link}}">{{item.title}}</a>
            </li-->
            <li><a href="/signup" ng-show="currentUser.username == 'admin'">Add new user</a></li>
            <li ng-repeat="item in authMenu" ng-show="currentUser" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
                <a href="/{{item.link}}">{{item.title}}</a>
            </li>
        </ul>
    </div>
    <div class="nav navbar-nav pull-right">
        <ul class="nav navbar-nav" ng-hide="currentUser">
            <li><a href="/login">Log In</a></li>
        </ul>
        <ul class="nav navbar-nav" ng-show="currentUser">
            <li><a>Welcome, {{ currentUser.username }}</a>
            <li><a ng-click="logout()">Logout</a></li>
        </ul>
    </div>
    <!--/.navbar-collapse -->
</div>
<!--/.navbar -->
