<section>
  <h1>New Trip</h1>
  
  <hr>
  <form class="form-horizontal" role="form" ng-submit="createTrip()">
   
   <div class="form-group">
      <label for="fleet" class="col-sm-2 control-label">Fleet</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" disabled value="{{currentFleetName}}">
      </div>
    </div>
   
    <div class="form-group">
      <label for="summary" class="col-sm-2 control-label">Summary</label>
      <div class="col-sm-6">
        <textarea ng-model="trip.summary" class="form-control" id="regno" rows="3" placeholder="Summary" autofocus required></textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label for="start" class="col-sm-2 control-label">Starting Place</label>
      <div class="col-sm-6">
        <input ng-model="trip.startingPlace" type="text" class="form-control" id="start" placeholder="Starting Place" required>
      </div>
    </div>
     <div class="form-group">
      <label for="dest" class="col-sm-2 control-label">Destination</label>
      <div class="col-sm-6">
        <input ng-model="trip.destination" type="text" class="form-control" id="dest" placeholder="Destination" required>
      </div>
    </div>

    <div class="form-group">
      <label for="veh" class="col-sm-2 control-label">Vehicle</label>
      <div class="col-sm-6">
        <select ng-model="trip.vehicle" class="form-control">
          <option 
            ng-repeat="v in vehicles" 
            value="{{v._id}},{{v.registrationNumber}}">
            {{v.registrationNumber}} - {{v.type}}
          </option>
        </select> 
      </div>
    </div>
    
    <div class="form-group">
      <label for="dr" class="col-sm-2 control-label">Driver</label>
      <div class="col-sm-6">
        <select ng-model="trip.driver" class="form-control">
          <option ng-repeat="d in drivers" value="{{d._id}},{{d.name}}">
            {{d.name}}
          </option>
        </select> 
      </div>
    </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-info">Schedule Trip</button>
      <button type="reset" class="btn btn-default">Reset</button>
    </div>
  </div>
</form>
  
</section>